<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/common-head %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js" type="text/javascript" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
        <script src="js/util/http.js" type="text/javascript"></script>
        <script src="js/host.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div id="credentials" style="display:none;" data="<%= credentials %>"></div>
    <div id="main" class="main-container">
        <div id="videoContainer" class="video-container">
            <div id="hostDivider" class="hidden"></div>
        </div>
    </div>
    <div class="broadcast-controls-container">
        <button id="startStop" class="btn-broadcast btn-info">Mulai Live Streaming</button>
    </div>

</body>

</html>